*{
    padding: 0;
    margin: 0;
    font-family: "Syne", sans-serif;
}
body{
    background: #46126a;
}
.btn{
    font-weight: 700;
    font-family: "Syne", sans-serif;
    background: #b8fa00;
    color: black;
    border: none;
}
.btn:hover{
    background: #76c000;
    transition: 0.5s;
}
tr{
    border-color: black;
}
td{
    width: 50%;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
}
.home img{
    width: 40%;
}
.home h1{
    font-weight: 800;
    font-size: 5vw;
    padding:2vw 0;
    color: #b8fa00;
}
/* ==================game============== */

.game h1{
    font-weight: 800;
    font-size: 2rem;
    padding:3vw 0;
    margin: 0;
    color: #b8fa00;
}
.game span{
    font-weight: 800;
    color: #b8fa00;
}
.doCen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#totTeam1,#totTeam2{
    background:rgb(0, 0, 0);
    color: #b8fa00;
    border: none;
    width:50%;
    font-family: 5.4vw;
}
#fscore{
    font-weight: 800;
    font-size: 1.1rem;
    padding:0 0 3vw;
    color: #b8fa00;
}



.my-custom-scrollbar {
    position: relative;
    max-height: 220px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

  .my-custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .my-custom-scrollbar::-webkit-scrollbar-track {
    background: #000000;
  }
  
  .my-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b8fa00;
    border-radius: 10px;
    border: 2px solid #000000;
  }